<div class="row">
  <div class="col-md-12">
    <h2> Order Detail </h2>

    <table class=" table table-bordered">
      <thead>
        <tr>
            <th width="80%"> Product Detail </th>
            <th> price</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total <%= @order.total %>
      </span>
    </div>

  <hr>

  <h2> Mailing Information </h2>

  <table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th> Purchaser </th>
        </tr>
        <tr>
            <th>
              <%= @order.billing_name %> - <%= @order.billing_address %>
            </th>
        </tr>
        <tr>
            <th> Receiver</th>
        </tr>
        <tr>
            <th><%= @order.shipping_name %> - <%= @order.shipping_name %></th>
        </tr>
    </tbody>
  </table>

    <% if !@order.is_paid? %>
      <div class="pull-right">
          <%= link_to("Wechatpay", pay_with_wechat_order_path(@order.token), :method => :post, :class => "btn btn-danger btn-lg") %>
          <%= link_to("Alipay ", pay_with_alipay_order_path(@order.token), :method => :post, :class => "btn btn-danger btn-lg") %>
      </div>
    <% else %>
          <p class="text-center" style="font-size: 25px;">Order Paid</p>
    <% end %>


  </div>
</div>
